div[sandstone-filetree] {
  height: 90%;
}

div[sandstone-filetree] > .filetree-container {
  margin-top: 50px;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.modal div[sandstone-filetree] .filetree-container {
    height: 100px;
}

div[sandstone-filetree] > .filetree-container li {
  white-space: nowrap;
}

/*
 * Modal styles
 */
.modal-filetree {
  overflow: auto;
  height: 60vh;
}

/*
 * Other FT styles
 */
.sidebar-filetree {
  overflow: auto;
  height: 90%;
}
